@using Budget.Models
@model UserContext
<div>
    <h1>Кошельки:</h1><table class="table">
    @*@foreach (Cash p in Model)
    {
        <tr><td>@p.Name</td><td>@p.Money</td></tr>
    }*@
                          @foreach (Cash p in Model.Cashs)
        {
            <tr><td>@p.Name</td><td>@p.Money</td></tr>
        }
</table></div><hr />
<div>
    <h1>Сбережения:</h1><table class="table">
        @*@foreach (Cash p in Model)
            {
                <tr><td>@p.Name</td><td>@p.Money</td></tr>
            }*@
        @foreach (Saving p in Model.Savings)
        {
            <tr><td>@p.Name</td><td>@p.Money</td><td>@p.Current</td><td>@p.Date.ToString("D")</td></tr>
        }
    </table>
</div><hr />
