@using Budget.Models
@model IEnumerable<Cash>
<div class="container">
    <h3>Кошельки:</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Название</th>


                <th>Деньги</th>


            </tr>
        </thead>
        <tbody>
            @foreach (Cash p in Model)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@p.Money</td>
                    <td>
                        <form asp-action="Delete" asp-controller="Cash" asp-anti-forgery="true">

                            <p>
                                <button value="@p.Name" name='NameDel' type="submit">Удалить</button>
                            </p>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div><hr />

@*<div>
    <h1>Изменения кошелька:</h1>
    <form asp-action="Update" asp-controller="Cash" asp-anti-forgery="true">

        <p>
            <label for="Name">Выберите кошелёк:</label>
            <select name="Name">
                @foreach (Cash i in Model)
                {
                    <option value="@i.Name">@i.Name</option>
                }

            </select>
        </p>
        <p>
            <label for="Money">Новая сумма:</label>
            <input type="number" name="Money" />
        </p>
        <p>
            <input type="submit" value="Изменить" />
        </p>
    </form>
</div><hr />*@


<div class="container">
    <h3>Добавление нового кошелька:</h3>
    <form class="form-inline" form action="~/Cash/Add" method=POST>
        <div class="form-group">
            <label class="sr-only" for="name">Name:</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="Название">
        </div>
        <div class="form-group">
            <label class="sr-only" for="money">Money:</label>
            <input type="number" name="money" class="form-control" id="name" placeholder="Деньги">
        </div>
        <button type="submit" class="btn btn-default">Добавить</button>
    </form>
</div>
