@using Budget.Models
@using Budget.ViewModels
@model UserContext



<div class="container">
    <h3>Расходы:</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Описание</th>
                <th>Стоимость</th>
                <th>Категория</th>
                <th>Дата</th>
                <th>Количество</th>
                <th>Единица измерения</th>
                <th>Пользователь</th>
                <th>Кошелёк</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Cost i in Model.Costs.OrderByDescending(i=>i.Id))
            {
                CostModel p = new CostModel { Name = i.Name, Money = i.Money, Category = Model.Categorys.Where(j => j.Id == i.CategoryId).FirstOrDefault().Name, Date = i.Date, User = Model.Users.Where(j => j.Id == i.UserId).FirstOrDefault().Login, Count = i.Count, Unit = i.Unit, Cash = i.Cash };
                <tr><td>@p.Name</td><td>@p.Money</td><td>@p.Category</td><td>@p.Date.ToString("D")</td><td>@p.Count</td><td>@p.Unit</td><td>@p.User</td><td>@p.Cash</td></tr>
            }
            
        </tbody>
    </table>
</div>